scapy==2.2.0

sudo iptables -I OUTPUT -p icmp --icmp-type port-unreachable -j DROP

This takes effect immediately but is not persistent after a reboot.
echo 1 | sudo tee /proc/sys/net/ipv4/ip_forward

# To make the change persistent, you can add the following line to /etc/sysctl.conf:
Edit the system configuration file:
sudo nano /etc/sysctl.conf

Uncomment or add this line:
net.ipv4.ip_forward=1
# Save and exit the editor (Ctrl+X, then Y, then Enter).

#SSL 
# This command sets up NAT (Network Address Translation) for outgoing traffic on the enp0s8 interface.
sudo iptables -t nat -A POSTROUTING -o enp0s8 -j MASQUERADE
# This command redirects incoming TCP traffic on port 80 to port 8080 on the enp0s3 interface.
sudo iptables -t nat -A PREROUTING -i enp0s3 -p tcp --dport 80 -j REDIRECT --to-port 8080


